@(products: utils.PageList[Product], hotProducts: List[String], pageIndexList: List[Integer], keyWord :String)

@main() {
  @header.render(hotProducts, keyWord)
  @*搜索条件*@
<div class="container productSearch-container">
  <div class="row">
    <div class="col-sm-offset-1 col-sm-10 searchOption-nav">
      <ol class="breadcrumb">
        <li><a href="#">可比价</a></li>
        <li class="active"><a href="#">搜索</a></li>
      </ol>
    </div>
    <div class="col-sm-offset-1 col-sm-10 searchOption-col10">
        <div class="row searchOption-row1">
          <ul style="list-style: none">
            <li class="row searchOption-row2">
              <dl class="dl-horizontal row">
                <dt>上装：</dt>
                <dd class="col-sm-1"><a href="#">全部</a></dd>
                <dd class="col-sm-1"><a href="#">针织衫</a></dd>
                <dd class="col-sm-1"><a href="#">毛呢外套</a></dd>
                <dd class="col-sm-1"><a href="#">T恤</a></dd>
              </dl>
            </li>
            <li class="row searchOption-row2">
              <dl class="dl-horizontal row">
                <dt>商城报价：</dt>
                <dd class="col-sm-1"><a href="#">全部</a></dd>
                <dd class="col-sm-1"><a href="#">京东</a></dd>
                <dd class="col-sm-1"><a href="#">天猫</a></dd>
                <dd class="col-sm-1"><a href="#">苏宁</a></dd>
                <dd class="col-sm-1"><a href="#">亚马逊</a></dd>
              </dl>
            </li>
            <li class="row searchOption-row2">
              <dl class="dl-horizontal row">
                <dt>已选条件：</dt>
                <dd>暂时没有选择过滤条件</dd>
              </dl>
            </li>
          </ul>
        </div>
      </div>
  </div>
  @*搜索结果*@
    <div class="row">
      <div class="topNavigation col-sm-10 col-sm-offset-1">
        <div class="btn-group btn-group-xs buttonGroup" role="group">
          <button type="button" class="btn btn-default defaultSort">默认排序</button>
          <button type="button" class="btn btn-default">评论数
              <span class="glyphicon glyphicon-arrow-down" aria-hidden="true"></span>
          </button>
          <button type="button" class="btn btn-default">
            价格<span class="glyphicon glyphicon-arrow-up" aria-hidden="true"></span>
          </button>
          <button type="button" class="btn btn-default">
            价格<span class="glyphicon glyphicon-arrow-down" aria-hidden="true"></span>
          </button>
        </div>
        <div class="priceRange">
          价格&nbsp;&nbsp;<input type="text" class="rangeFromTo">&nbsp;-&nbsp;<input type="text" class="rangeFromTo">
          <button class="priceConfirm">确定</button>
        </div>
        <div class="flip">
            <span class="span-page">
               <font color="red" id="currentPage">@products.getPageIndex</font>/<font id="countPage">@products.getPageCount</font>
            </span>
            <a class="p-pre" id="a-prev" onclick="jumpToPage('@keyWord', @products.getPrevPageIndex)"> < </a>
            <a class="p-pre p-next" id="a-next" onclick="jumpToPage('@keyWord', @products.getNextPageIndex)"> > </a>
        </div>
      </div>
          <div class="searchProductPlace col-sm-10 col-sm-offset-1">
            <div class="productList">
              <div class="container">
                <div class="row" style="z-index: -1">

                @if(products != null && products.getList.size() > 0) {
                    @for((product, index) <- products.getList.zipWithIndex) {

                  <input type="hidden" id="id@index" value="@product.getSkuid" data-mall="@product.getMall"/>

                  <div class="col-md-3 col-xs-3 col-sm-3">
                    <div class="card">
                      <div class="item"  data-mall="@product.getMall">
                        <div class="pic">
                          <a href="@product.getUrl" target="_blank" title="img">
                            <img src=@product.getImg1Max style="display: inline;">
                          </a>
                        </div>
                        <div class="name">
                          <a href="@product.getUrl" target="_blank" title="@product.getName">
                          @product.getName
                          </a>
                        </div>
                        <div class="price">
                          <em>¥</em>@product.getPrice
                            <a class="price-a" style="text-decoration:none;">
                                <span id="trend@product.getSkuid" class="icon-bar-chart"></span>
                                <div class="chart@index chart-div" id="pop@product.getSkuid"></div>
                            </a>

                          <div class="shopName" style="float:right; margin-top: -3px;">
                            @if(product.getMall.equals("jd")){
                              <img src="http://sf.manmanbuy.com/images/sitelogo/1.png">
                              <a class="" href="@product.getShopUrl" target="_blank" title="mall" style="font-size:small">京东商城</a>
                            }
                          </div>
                        </div>

                        <div class="sales">有<span>@product.getCommentsNum</span>人评论
                          <div class="supplier" >
                            @if(product.isSelfSupport){自营} else {非自营}</div>
                        </div>
                        <div class="goodsExist">@Html(product.getStockStatus)
                            <span id="store@product.getSkuid" class="glyphicon glyphicon-heart-empty store-icon"
                            onclick="storeUp(@product.getSkuid)"></span>
                        </div>
                      </div>
                    </div>
                  </div>
                }
            } else {
              <div class="col-sm-offset-1 col-sm-10">
                <p>没有符合条件的商品</p>
              </div>
            }
            </div>
          </div>
        </div>
      </div>

      <div class="col-sm-10 col-sm-offset-1 pageNavigation">
        <nav aria-label="Page navigation" class="">
          <ul class="pagination">
            <li class="tip">
                共<font color="black">@products.getRecordCount</font>条记录  当前为<font color="red"
                id="currentPage">@products.getPageIndex</font>/<font id="countPage">@products.getPageCount</font>页&nbsp;
            </li>
            <li>
                <a href="#" id="prePage" onclick="jumpToPage('@keyWord', @products.getPrevPageIndex)"
                @if(!products.hasPrevPage){hidden}>
                    <span aria-hidden="true" aria-label="Previous">&laquo;</span>
                </a>
            </li>
            <li>
                @for((page, index) <- pageIndexList.zipWithIndex){
                    <a href="#" onclick="jumpToPage('@keyWord', @products.getNavigationFrom + @index)"
                        @if(products.getPageIndex == page){style="background-color: #ddd"}>
                        <span data-value="@products.getNavigationFrom" data-index="@index">@page</span>
                    </a>
                }
            </li>
            <li>
                <a href="#" id="nextPage" onclick="jumpToPage('@keyWord', @products.getNextPageIndex)"
                @if(!products.hasNextPage){hidden}>
                    <span aria-hidden="true" aria-label="Next">&raquo;</span>
                </a>
            </li>
            <li style="margin-left: 20px;margin-top: 5px">
              <input type="text" class="skip-text" id="jumpPage" value="@products.getPageIndex">
              <button onclick="jumpToPage('@keyWord', 0)">跳转</button>
            </li>
          </ul>
        </nav>
      </div>
    </div>

</div>
@footer.render()
}

  <script>
    $(document).ready(function() {

        @if(!products.hasPrevPage) {
            $("#a-prev").removeAttr('href');
            $("#a-prev").removeAttr('onclick');
            $("#a-prev").addClass('disabled-a');
        }

        @if(!products.hasNextPage) {
            $("#a-next").removeAttr('href');
            $("#a-next").removeAttr('onclick');
            $("#a-next").addClass('disabled-a');
        }

        $("[id^='id']").each(function(index) {
            var id = $(this).val();
            var mall = $(this).data("mall");
            $.ajax({
                type: "get",
                url: "/product/prices/" + mall + "/" + id,
                dataType: "json",
                success: function (data) {
                    $(".chart" + index).highcharts({
                        chart: {
                            type: 'line',
                            width: 350,
                            height: 250,
                            padding: 2
                        },
                        colors: ['#ea5252', '#2f7ed8'],
                        title: {
                            text: data.results == "null" ? '暂无数据' : "",
                            verticalAlign: 'middle'
                        },
                        subtitle: {
                            text: '价格走势'
                        },
                        xAxis: {
                            tickInterval: data.step,
                            categories: data.date,
                            gridLineWidth: 1,
                            dateTimeLabelFormats: {
                                day: '%m-%d',
                                week: '%m-%d',
                                month: '%m-%d',
                                year: '%Y'
                            }
                        },
                        yAxis: {
                            title: {
                                text: null
                            }
                        },
                        tooltip: {
                            shared: true,
                            crosshairs: true,
                            // 时间格式化字符
                            // 默认会根据当前的数据点间隔取对应的值
                            // 当前图表中数据点间隔为 1天，所以配置 day 值即可
                            dateTimeLabelFormats: {
                                day: '%m-%d'
                            }
                        },
                        series: [{
                            name: '价格:',
                            data: data.price
                        }],
                        credits: {
                            text: ''    //去掉图标上的官网地址
                        },
                        plotOptions: {
                            series: {
                                marker: {
                                    radius: 3,    //曲线点半径，默认是4
                                    //曲线点类型："circle", "square", "diamond", "triangle","triangle-down", 默认是"circle"
                                    symbol: 'diamond'
                                }
                            }
                        }
                    });
                },
                error: function () {
                    consolg.log("no data");
                }
            })
        })
    });

    function storeUp(id) {
        if($("#store" + id).hasClass("glyphicon-heart-empty")) {
            $("#store" + id).removeClass("glyphicon glyphicon-heart-empty");
            $("#store" + id).addClass("glyphicon glyphicon-heart bgcolor");
        } else {
            $("#store" + id).removeClass("glyphicon glyphicon-heart bgcolor");
            $("#store" + id).addClass("glyphicon glyphicon-heart-empty");
        }
    }

    function formatStrIfNull(val) {
        return val == "" ? "*" : val;
    }

    function jumpToPage(kw, page) {
        // todo
        var sorter = "";
        var filter = "";
        var pagesize = 12;

        if (page == 0) {
            page = $("#jumpPage").val();
        }

        $("#jumpPage").val(page);
        $("#currentPage").text(page);

        kw = formatStrIfNull(kw);
        var sorter = formatStrIfNull(sorter);
        var filter = formatStrIfNull(filter);
        window.location.href = '/search/'+ kw + '/' + page + '/' + pagesize + '/' + sorter + '/' + filter;
    }
  </script>