@(products: utils.PageList[Product], hotProducts: List[String], pageIndexList: List[Integer], keyWord :String, sorter :String )

@main() {
  @header.render(hotProducts, keyWord)
  @*搜索条件*@
<div class="container productSearch-container">
  <div class="row">
    <div class="col-sm-offset-1 col-sm-10 searchOption-nav">
      <ol class="breadcrumb">
        <li><a href="#">可比价</a></li>
        <li class="active"><a href="#">搜索</a></li>
      </ol>
    </div>
    <div class="col-sm-offset-1 col-sm-10 searchOption-col10">
        <div class="row searchOption-row1">
          <ul style="list-style: none">
            <li class="row searchOption-row2">
              <dl class="dl-horizontal row">
                <dt>上装：</dt>
                <dd class="col-sm-1"><a href="#">全部</a></dd>
                <dd class="col-sm-1"><a href="#">针织衫</a></dd>
                <dd class="col-sm-1"><a href="#">毛呢外套</a></dd>
                <dd class="col-sm-1"><a href="#">T恤</a></dd>
              </dl>
            </li>
            <li class="row searchOption-row2">
              <dl class="dl-horizontal row">
                <dt>商城报价：</dt>
                <dd class="col-sm-1"><a href="#">全部</a></dd>
                <dd class="col-sm-1"><a href="#">京东</a></dd>
                <dd class="col-sm-1"><a href="#">天猫</a></dd>
                <dd class="col-sm-1"><a href="#">苏宁</a></dd>
                <dd class="col-sm-1"><a href="#">亚马逊</a></dd>
              </dl>
            </li>
            <li class="row searchOption-row2">
              <dl class="dl-horizontal row">
                <dt>已选条件：</dt>
                <dd>暂时没有选择过滤条件</dd>
              </dl>
            </li>
          </ul>
        </div>
      </div>
  </div>
  @*搜索结果*@
    <div class="row">
      <div class="topNavigation col-sm-10 col-sm-offset-1">
        <div class="btn-group btn-group-xs buttonGroup" role="group">
          <button type="button" id="defaultSort" class="btn btn-default btn-border sort-color" onclick="defaultSort('@keyWord', 1)">默认排序</button>
          <button type="button" id="comment-sort" class="btn btn-default btn-border" onclick="commentSort('@keyWord', 1)">
              <font>评论数</font>
              <span class="glyphicon glyphicon-arrow-down" aria-hidden="true"></span>
          </button>
          <button id="sort-price" type="button" class="btn btn-default btn-border" onclick="priceSort('@keyWord', 1)">
              <font>价格</font>
              <span id="span-price" class="f-sort">
                  <i id="price-up" class="fa fa-caret-up arrow-top"></i>
                  <i id="price-down" class="fa fa-caret-down arrow-bottom"></i>
              </span>
          </button>
        </div>
        <div class="priceRange">
          价格&nbsp;&nbsp;<input type="text" class="rangeFromTo">&nbsp;-&nbsp;<input type="text" class="rangeFromTo">

            <button id="priceFrom" class="priceConfirm btnHidden" onclick="priceRange()">确定</button>
            <button id="priceTo" class="priceConfirm btnHidden" onclick="clearPrice()">清空</button>
        </div>
        <div class="flip">
            <span class="span-page">
               <font color="red" id="currentPage">@products.getPageIndex</font>/<font id="countPage">@products.getPageCount</font>
            </span>
            <a class="p-pre" id="a-prev" onclick="jumpToPage('@keyWord', @products.getPrevPageIndex, '@sorter')"> < </a>
            <a class="p-pre p-next" id="a-next" onclick="jumpToPage('@keyWord', @products.getNextPageIndex, '@sorter')"> > </a>
        </div>
      </div>
          <div class="searchProductPlace col-sm-10 col-sm-offset-1">
            <div class="productList">
              <div class="container">
                <div class="row" style="z-index: -1">

                @if(products != null && products.getList.size() > 0) {
                    @for((product, index) <- products.getList.zipWithIndex) {

                  <input type="hidden" id="id@index" value="@product.getSkuid" data-mall="@product.getMall"/>

                  <div class="col-md-3 col-xs-3 col-sm-3">
                    <div class="card">
                      <div class="item"  data-mall="@product.getMall">
                        <div class="pic">
                          <a href="@product.getUrl" target="_blank" title="img">
                            <img src=@product.getImg1Max style="display: inline;">
                          </a>
                        </div>
                        <div class="name">
                          <a href="@product.getUrl" target="_blank" title="@product.getName">
                          @product.getName
                          </a>
                        </div>
                        <div class="price">
                          <em>¥</em>@product.getPrice
                            <a class="price-a" style="text-decoration:none;">
                                <span id="trend@product.getSkuid" class="fa fa-bar-chart"></span>
                                <div class="chart@product.getSkuid chart-div" id="pop@product.getSkuid"></div>
                            </a>

                          <div class="shopName" style="float:right; margin-top: -3px;">
                            @if(product.getMall.equals("jd")){
                              <img src="http://sf.manmanbuy.com/images/sitelogo/1.png">
                              <a class="" href="@product.getShopUrl" target="_blank" title="mall" style="font-size:small">京东商城</a>
                            }
                          </div>
                        </div>

                        <div class="sales">有<span>@product.getCommentsNum</span>人评论
                          <div class="supplier" >
                            @if(product.isSelfSupport){自营} else {非自营}</div>
                        </div>
                        <div class="goodsExist">@Html(product.getStockStatus)
                            <span id="store@product.getSkuid" class="glyphicon glyphicon-heart-empty store-icon"
                            onclick="storeUp(@product.getSkuid)"></span>
                        </div>
                      </div>
                    </div>
                  </div>
                }
            } else {
              <div class="col-sm-offset-1 col-sm-10">
                <p>没有符合条件的商品</p>
              </div>
            }
            </div>
          </div>
        </div>
      </div>

      <div class="col-sm-10 col-sm-offset-1 pageNavigation">
        <nav aria-label="Page navigation" class="">
          <ul class="pagination">
            <li class="tip">
                共<font color="black">@products.getRecordCount</font>条记录  当前为<font color="red"
                id="currentPage">@products.getPageIndex</font>/<font id="countPage">@products.getPageCount</font>页&nbsp;
            </li>
            <li>
                <a href="#" id="prePage" onclick="jumpToPage('@keyWord', @products.getPrevPageIndex, '@sorter')"
                @if(!products.hasPrevPage){hidden}>
                    <span aria-hidden="true" aria-label="Previous">&laquo;</span>
                </a>
            </li>
            <li>
                @for((page, index) <- pageIndexList.zipWithIndex){
                    <a href="#" onclick="jumpToPage('@keyWord', @products.getNavigationFrom + @index, '@sorter')"
                        @if(products.getPageIndex == page){style="background-color: #ddd"}>
                        <span data-value="@products.getNavigationFrom" data-index="@index">@page</span>
                    </a>
                }
            </li>
            <li>
                <a href="#" id="nextPage" onclick="jumpToPage('@keyWord', @products.getNextPageIndex, '@sorter')"
                @if(!products.hasNextPage){hidden}>
                    <span aria-hidden="true" aria-label="Next">&raquo;</span>
                </a>
            </li>
            <li style="margin-left: 20px;margin-top: 5px">
              <input type="text" class="skip-text" id="jumpPage" value="@products.getPageIndex">
              <button onclick="jumpToPage('@keyWord', 0, '@sorter')">跳转</button>
            </li>
          </ul>
        </nav>
      </div>
    </div>

</div>
@footer.render()
}

  <script>
    $(document).ready(function() {

        @if(!products.hasPrevPage) {
            $("#a-prev").removeAttr('href');
            $("#a-prev").removeAttr('onclick');
            $("#a-prev").addClass('disabled-a');
        }

        @if(!products.hasNextPage) {
            $("#a-next").removeAttr('href');
            $("#a-next").removeAttr('onclick');
            $("#a-next").addClass('disabled-a');
        }

        @if(sorter.equals("price desc")) {
            $("#price-up").addClass("price-sort");
            $("#sort-price").children("font").addClass("sort-color");
            $("#sort-price").children("span").addClass("sort-color");
            $("#defaultSort").removeClass("sort-color");
        }

        @if(sorter.equals("price asc")){
            $("#price-down").addClass("price-sort");
            $("#sort-price").children("font").addClass("sort-color");
            $("#sort-price").children("span").addClass("sort-color");
            $("#defaultSort").removeClass("sort-color");
        }

        @if(sorter.equals("comments_num desc")) {
            $("#comment-sort").children("font").addClass("sort-color");
            $("#comment-sort").children("span").addClass("sort-color");
            $("#defaultSort").removeClass("sort-color");
        }

        var id ="";
        var mall ="";
        $("[id^='id']").each(function (index) {
            var id = $(this).val();
            var mall = $(this).data("mall");
            $.ajax({
                type: "get",
                url: "/product/prices/" + mall + "/" + id,
                dataType: "json",
                success: function (data) {
                    $(".chart" + index).highcharts({
                        chart: {
                            type: 'line',
                            width: 350,
                            height: 250,
                            padding: 2
                        },
                        colors: ['#ea5252', '#2f7ed8'],
                        title: {
                            text: data.results == "null" ? "暂无数据" : "",
                            align: 'center',
                            verticalAlign: data.results == 'null' ? 'middle' : 'top'
                        },
                        subtitle: {
                            useHTML: true,
                            text: data.minprice > 0 ? "历史最低价: <b><span style='color:#c12e2a'>" + data.minprice + "</span></b>" : "",
                            align: 'right'
                        },
                        xAxis: {
                            type: 'datetime',
                            tickInterval: data.step,
                            categories: data.date,
                            gridLineWidth: 1,
                            labels: {
                                format: '{value: %m-%d}'
                            }
                        },
                        yAxis: {
                            title: {
                                text: null
                            },
                            plotLines:[{
                                color: '#ffb6c1',
                                dashStyle: 'longdashdot',
                                value: data.minprice,
                                width: 2
                            }]
                        },
                        legend: {
                            enabled: false    // disable the legend(图例) of chart.
                        },
                        tooltip: {
                            shared: true,
                            crosshairs: true,
                            // 时间格式化字符, 默认会根据当前的数据点间隔取对应的值
                            dateTimeLabelFormats: {
                                millisecond: '日期: %Y-%m-%d',
                                second: '%A %Y-%m-%d %H:%M',
                                minute: '%m-%d',
                                hour: '%m-%d',
                                day: '%m-%d',
                                week: '%m-%d',
                                month: '%m-%d',
                                year: '%m-%d'
                            }
                        },
                        series: [{
                            name: '价格',
                            data: data.price
                        }],
                        credits: {
                            text: ''    //去掉图标上的官网地址
                        },
                        plotOptions: {
                            series: {
                                marker: {
                                    radius: 3,    //曲线点半径，默认是4
                                    //曲线点类型："circle", "square", "diamond", "triangle","triangle-down", 默认是"circle"
                                    symbol: 'diamond'
                                }
                            }
                        }
                    });
                },
                error: function () {
                    consolg.log("no data");
                }
            })
        })
    });

    function storeUp(id) {
        if($("#store" + id).hasClass("glyphicon-heart-empty")) {
            $("#store" + id).removeClass("glyphicon glyphicon-heart-empty");
            $("#store" + id).addClass("glyphicon glyphicon-heart bgcolor");
        } else {
            $("#store" + id).removeClass("glyphicon glyphicon-heart bgcolor");
            $("#store" + id).addClass("glyphicon glyphicon-heart-empty");
        }
    }

    function formatStrIfNull(val) {
        return val == "" ? "*" : val;
    }

    function jumpToPage(kw, page, sorter) {
        var filter = "";
        var pagesize = 12;

        if (page == 0) {
            page = $("#jumpPage").val();
        }

        $("#jumpPage").val(page);
        $("#currentPage").text(page);

        kw = formatStrIfNull(kw);
        sorter = formatStrIfNull(sorter);
        filter = formatStrIfNull(filter);
        window.location.href = '/search/'+ kw + '/' + page + '/' + pagesize + '/' + sorter + '/' + filter;
    }

    function priceSort(kw, page) {
        var sorter = "";
        var filter = "";
        var pagesize = 12;

        if($("#price-up").hasClass("price-sort")) {
            sorter = "price asc";
        }
        else if($("#price-down").hasClass("price-sort")) {
            sorter = "price desc";
        } else {
            sorter = "price desc";
        }
        kw = formatStrIfNull(kw);
        filter = formatStrIfNull(filter);
        window.location.href = '/search/'+ kw + '/' + page + '/' + pagesize + '/' + sorter + '/' + filter;
    }

    function commentSort(kw, page) {
        var filter = "";
        var sorter = "comments_num desc";
        var pagesize = 12;

        kw = formatStrIfNull(kw);
        filter = formatStrIfNull(filter);
        window.location.href = '/search/'+ kw + '/' + page + '/' + pagesize + '/' + sorter + '/' + filter;
    }

    function defaultSort(kw, page) {
        var filter = "";
        var sorter = "";
        var pagesize = 12;

        kw = formatStrIfNull(kw);
        filter = formatStrIfNull(filter);
        sorter = formatStrIfNull(sorter);
        window.location.href = '/search/'+ kw + '/' + page + '/' + pagesize + '/' + sorter + '/' + filter;
    }

    $(".rangeFromTo").focus(function() {
        $(".priceConfirm").removeClass("btnHidden");
        $(".priceConfirm").addClass("btnShow");
    })

    $(".rangeFromTo").blur(function() {
        $(".priceConfirm").removeClass("btnShow");
        $(".priceConfirm").addClass("btnHidden");
    })

    function clearPrice() {
        $("#priceFrom").val("");
        $("#priceTo").val("");
    }
  </script>